
.header {
    text-align: center;
    padding-bottom: 10px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.header p {
    font-size: 14px;
    text-align: justify;
}

.work-period {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #555555c2;
}

.degree-establishment, .degree-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-info {
    display: flex;
    justify-content: space-around;
}

.personal-info div {
    border-left: 1px solid #555555c2;
    padding-left: 6px;
    margin-bottom: 14px;
    font-style: italic;
}

.personal-info:first-child {
    border-left: unset;
}

.container .degree-details div:first-of-type,
.container .degree-details span:first-of-type, .country {
    color: #555555c2;
    font-style: italic;
    font-size: 12px;
}

.work-period span {
    font-style: italic;
}

.header a {
    color: #000;
    text-decoration: none;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.section-content {
    margin-bottom: 20px;
}

.job, .education, .skills, .internship {
    margin-bottom: 20px;
}

.job h3, .education h3, .internship h3 {
    font-size: 16px;
    font-weight: bold;
}

.job span, .education span, .internship span {
    display: block;
    color: #555;
}

.job ul, .internship ul {
    padding-left: 20px;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.skills-table td:nth-child(2), .skills-table td:nth-child(4) {
    text-align: right;
}
