
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li {
    font-size: 14px;
}

span {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header, .section {
    margin-bottom: 15px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tools {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0 auto;
}

#download-pdf {
    max-width: 100px;
    width: 100%;
    padding: 5px;
    background-color: green;
    border: none;
    border-radius: 5px;
    margin-left: auto;
}

#scale-slider {
    margin-bottom: 30px;
}

.back-button {
    background-color: #a23232;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;

}

@media print {
    body {
        margin: 0;
        padding: 0;
        width: 210mm;
        background-color: unset;
    }

    .container {
        padding: 10mm;
        max-width: 100%;
        height: 100%;
        background-color: unset;
        box-shadow: unset;
    }

    #download-pdf, #scale-slider, #scale-value, .back-button {
        display: none;
    }

    .page-break {
        page-break-before: always;
    }

    header, .summary, .work-experience, .education, .additional-info {
        page-break-inside: avoid;
    }

    .job {
        page-break-inside: avoid;
    }

    .degree {
        page-break-inside: avoid;
    }
}

